*{
    background-color: green

}

#enterCard {
    border-radius: 10px;
}

#mainMenu {
    border-radius: 10px;
}

body{
    text-align: center;
    font-family: 'Muli', sans-serif;
    vertical-align: middle
}

.atm{
    text-align: center;
    border: 5px white;
    
}

.atm h1{
    font-family: 'Monoton', cursive;
    font-size: 60px;
    color: white;
    text-align: center
}

.atm h2{
    font-family: 'Homemade Apple', cursive;
    font-size: 20px;
    color: white;
    text-align: center;
}

.atm button{
    margin-bottom: 10px;
    color: white;
    border: none
}

.homescreen {
    background: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 400px;
    width: 1135px
}

.homescreen h1{
    text-align: center;
    background: white;
    position: relative;
    left: 1px;
    
}

.homescreen div{
    text-align: center;
    background: white;
    font-size: 40px;
}

.homescreen input{
    text-align: center;
    background: white;
    position: relative;
    left: 1px;
    margin-top: 125px
}

.homescreen button{
    text-align: center;
    background: white;
    position: relative;
    left: 1px;
    margin-top: 125px
}

.autoPlayVideo {
    width: 100%;
}

.welcomeScreen {
    width: 1135px;
}

.video-container {
    position: relative;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%; 
    overflow: hidden;
    border-radius: 10px;
    z-index: 0
}

.video-container video {
    min-width: 100%; 
    min-height: 100%; 
    width: auto;
    height: auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;

}



#withdrawlScreen button {
    margin-top: 25px;
}

#depositScreen button {
    margin-top: 25px;
}

.homescreen span{
    text-align: center;
    background: white;
    vertical-align: middle;
    border-radius: 25px;
}

.keypad {
    padding: 10px;
    list-style: none;
    text-align: center
}

.keypad input {
    float: center;
    margin: 0 5px 5px 0;
    width: 360px;
    height: 65px;
    line-height: 40px;
    text-align: center;
    background: rgb(220,220,220);
    border: 1px solid darkgray;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    list-style: none;
    font-size: 30px
}

#mainMenu {
    margin-bottom: 50px
}

#menuScreen button {
    float: center;
    margin: 0 5px 5px 0;
    width: 200px;
    height: 65px;
    line-height: 30px;
    text-align: center;
    background: rgb(220,220,220);
    border: 1px solid darkgray;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    list-style: none;
    font-size: 17px
}

#cardScreen{
    display: none;
}

#enterCard{
    display: none;
}

#pinScreen{
    display: none;
}

#menuScreen{
    display: none;
}

#accountScreen{
    display: none;
}

#withdrawlScreen{
    display: none;
}

#withdrawlSuccessScreen{
    display: none;
}

#depositScreen{
    display: none;
}

#depositSuccessScreen{
    display: none;
}

#fastCashScreen{
    display: none;
}

#fastCashSuccessScreen{
    display: none
}

#logOutScreen{
    display: none;
}

#showCard{
    display: inline-block;
}
